html{
    scroll-behavior: smooth;
}

.w3-container p.w3-text {
    max-width: 100%;
    word-wrap: break-word;
}

[data-anime] {
    opacity: 0; 
    transition: .4s;
}

[data-anime="left"]{
    transform:translate3d(-50px, 0, 0) ;
}

[data-anime="right"]{
    transform:translate3d(50px, 0, 0) ;
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0, 0);
}